@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


/*

GENERICS

*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html {
  position: relative;
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow-x: hidden;
  color: #FFF;
  background-image: url(./assets/Mesh\ Gradient\ Background.svg);
  background-position: center;
  background-size: cover;
}

/* canvas {
  height: 100vh;
  display: block;
} */

h1 {
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 32px;
}

h2,
h3,
h4 {
  text-align: start;
  margin: 24px 0;
}

p {
  font-size: 32px;
  font-weight: 700;
}

li {
  list-style-type: none;
}

a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #FFF;
}

main {
  margin: 104px 0;
  padding: 32px;
}

form {
  margin: 64px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

input,
select,
textarea {
  background-color: #444;
  color: #FFF;
  border: none;
  border-radius: 16px;
  outline: none;
  font-size: 16px;
  margin-bottom: 56px;
  padding: 24px;
  width: 45%;
  box-shadow: 0 0 20px  orange;
  transition: box-shadow 300ms ease-in-out;
}

input:hover,
select:hover,
textarea:hover {
  box-shadow: 0 0 20px purple;
}

input::placeholder,
select,
textarea::placeholder {
  color: #FFF;
}

input[type="submit"] {
  width: 100%;
}

.container {
  padding: 16px 0;
}

.row {
  text-align: center;
  margin: 0 auto;
  padding: 0 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.para {
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
}

.btn {
  background-color: transparent;
  color: #FFF;
  border: 4px solid #FFF;
  border-radius: 16px;
  font-size: 24px;
  padding: 16px 64px;
  transition: all 300ms ease;
}

.btn:hover {
  color: orange;
  background-color: #FFF;
  cursor: pointer;
}


/*

NAVIGATION

*/
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 32px;
  font-weight: 700;
}

.logo__wrapper {
  width: 64px;
  display: none;
}

.logo__wrapper--anchor {
  width: 100%;
}

.logo__mobile {
  width: 100%;
}

.nav__links {
  display: flex;
  gap: 56px;
}


/*

LANDING

*/
.landing__para {
  max-width: 48ch;
  margin-bottom: 96px;
}


/*

GETTING STARTED

*/
#list {
  text-align: start;
  list-style-type: circle;
}

#install {
  margin: 16px 0;
  float: left;
  text-decoration: underline;
}

.list__items {
  list-style-type: circle;
  margin-left: 16px;
}


/* CONTACT */
#submit__btn {
  width: 100%;
}

input, textarea {
  width: 45%;
}

@media(max-width: 478px) {
  input, textarea {
    width: 100%;
  }

  form {
    gap: 0; 
  }
}

.coming-soon-container {
  position: fixed; /* Fixed positioning allows movement */
  top: 20%; /* Adjust initial position as needed */
  left: 20%; /* Adjust initial position as needed */
  transform: translate(-50%, -50%);  /* Center the container */
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 24px;
  background-color: #f0f0f0;  /* Light gray background */
  animation: bubble-float 10s ease-in-out infinite alternate; /* New animation */
}


@keyframes bubble-float {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
    transform: translate(calc(-50% + 50px), calc(-50% + 30px)) rotate(5deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  75% {
    transform: translate(calc(-50% - 30px), calc(-50% - 20px)) rotate(-5deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

.coming-soon-text {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #333; /* Dark gray text */
  margin: auto;
  padding-top: 20px;
}

.coming-soon-icon {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  font-size: 24px;
  color: #f00; /* Red color for the icon */
}


/*

FOOTER

*/
footer {
  margin-top: 104px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.footer__links {
  width: 50%;
  display: flex;
  gap: 96px;
}

.footer__links--title {
  text-align: start;
  margin: 0 0 16px;
}

.footer__links--list {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer__credentials {
  text-align: start;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; 
}

.copyright {
  font-size: 12px;
  font-weight: 500;
  margin-top: 16px;
}


/*

RESPONSIVENESS

*/
/* (1200px +) : Large Desktops (WORKS BY DEFAULT) */

/* 992px: Desktops */

/* 768px: Tablets */
@media(max-width: 768px) {
  input,
  select,
  textarea {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo,
  .nav__link {
    display: none;
  }

  .nav__link--semi-special,
  .nav__link--special {
    display: block;
  }

  .logo__wrapper {
    display: block;
  }

  .footer__links {
    gap: 32px;
  }

  .logo__footer {
    display: block !important;
  }
}

/* 576px: Mobile Phones */
@media(max-width: 576px) {
  h2 {
    font-size: 16px;
  }

  main {
    padding: 24px 0;
  }

  .footer__links {
    flex-direction: column;
  }

  .logo__footer {
    font-size: 24px;
    display: block;
  }
}

/* 367px: Small Mobile Phones */
@media(max-width: 367px) {
  .nav__link--semi-special {
    display: none;
  }

  .footer__links--list {
    gap: 32px;
  }

  .logo__footer {
    font-size: 16px;
  } 
}
